.frame_info {
  font-size: 1.1rem;
  font-weight: 500;
}

.selection_frame_info {
  color: rgb(0,70,243);
}

.frame {
  cursor: pointer;
  position: relative;
}

.frame video {
  width: 400px;
  height: 250px;
  object-fit: cover;
}