.video_time {
  background-color: rgb(20,20,44);
}

.video_time h3 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.527);
  margin: .6rem
}

.video_time span {
  font-weight: 400;
  font-size: 1.2rem;
  color: whitesmoke;
}

.video_tools {
  background-color: rgb(0,70,243);
}

.video_tools button {
  color: white;
  font-size: 1.25rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.video_frame_section {
  background-color: rgb(250,250,250);
  position: relative;
}

.video_frame {
  min-width: 250px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.active_frame {
  border: 10px solid rgb(205,218,254);
}

.current_track_line {
  width: 8px;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 10px, 70% 18px, 70% 100%, 30% 100%, 30% 18px, 0 10px);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 5rem;
  background-color: black;
  cursor: pointer;
}